@import url('github-markdown.css');

.vscode-light,
.vscode-dark,
.vscode-high-contrast {
    margin:1em;
    padding:0;
}

.vscode-light code>div,
.vscode-dark code>div,
.vscode-high-contrast code>div {
    background-color: transparent;
    padding:0.6em;
}