@import url('css/common.css');

/* Default */
.vscode-dark {
    font-size:14px;
    color: #ABB2BF;
    background: #282C34;
}

/* Font */
.vscode-dark code,
.vscode-dark kbd,
.vscode-dark pre,
.vscode-dark .highlight pre {
    font-size:1em;
}

/* Heading */
.vscode-dark h1,
.vscode-dark h2,
.vscode-dark h3,
.vscode-dark h4,
.vscode-dark h5,
.vscode-dark h6 {
    color:#61AFEF;
}

/* Link */
.vscode-dark a {
    color:#DF6A73;
}

/* Inline Code */
.vscode-dark code {
    color: #90C378;
}

/* Block Code */
.vscode-dark pre code {
    color: #ABB2BF;
}

/* Heading */
.vscode-dark h1,
.vscode-dark h2 {
    border-color: #2C323C;
}

/* Background */
.vscode-dark hr,
.vscode-dark code,
.vscode-dark pre,
.vscode-dark .highlight pre {
    background-color:#2C323C;
}

/* Table */
.vscode-dark table>thead>tr>th,
.vscode-dark table>tbody>tr+tr>td {
    border-color: #2C323C;
}

/* Blockquote */
.vscode-dark blockquote {
    color: #D2945D;
    border-left: 0.25em solid #2C323C;
    background: transparent;
}