/*
 * Markdown PDF CSS
 */

body {
    width: 890px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #2980b9;
}

pre {
    background-color: #f8f8f8;
    border: none;
}

blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
    background: transparent;
}

.emoji {
    height: 1.4em;
}

:not(pre):not(.hljs)>code {
    color: #c0392b;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
}