body {
    padding: 10px 20px;
}

.monaco-tokenized-source {
    white-space: pre
}

.vscode-light,
.vscode-dark,
.vscode-high-contrast {
    color: #333;
    background: #FFF;
}

.vscode-light code,
.vscode-dark code {
    color: #333;
}

.vscode-light code>div,
.vscode-dark code>div,
.vscode-high-contrast code>div {
    background-color: transparent;
    padding:0.6em;
}

.vscode-high-contrast h1,
.vscode-light h1,
.vscode-light hr,
.vscode-dark h1,
.vscode-dark hr {
    border-color: #eee;
}

.vscode-light table>thead>tr>th .vscode-light table>tbody>tr+tr>td,
.vscode-dark table>thead>tr>th,
.vscode-dark table>tbody>tr+tr>td {
    border-color: #ddd;
}

.vscode-dark blockquote,
.vscode-light blockquote,
.vscode-high-contrast blockquote {
    background: transparent;
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}